[Unit]
Description=GeoServer Service
After=postgresql.service
Requires=postgresql.service
Wants=network-online.target

[Service]
Environment="GEOSERVER_HOME=/opt/geoserver"
Environment="JAVA_OPTS=-Xms756M -Xmx2048M -XX:SoftRefLRUPolicyMSPerMB=36000 -XX:+UseParallelGC -XX:NewRatio=2"
Type=simple
ExecStart=/opt/geoserver/bin/startup.sh
ExecStop=/opt/geoserver/bin/shutdown.sh
Restart=always

[Install]
WantedBy=multi-user.target
