[Unit]
Description=REST API for any Postgres database
After=postgresql.service
Requires=postgresql.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/pgrest/bin/postgrest /opt/pgrest/config
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
