shared:
  ruby_version:
    <%= File.exist?('.ruby-version') ? File.read('.ruby-version').strip : RUBY_VERSION %>

provision:
  files:
    - mix_server/vendor/server-configs-nginx/**/*.*
  recipes:
    - bootstrap/upgrade-{upgrade}
    - bootstrap/timezone_locale
    - bootstrap/files
    - bootstrap/swap-{swap_size}
    - bootstrap/limits
    - bootstrap/packages
    - bootstrap/ssh
    - bootstrap/firewall
    - bootstrap/firewall_deny_mail
    - bootstrap/firewall_deny_list-{deny_upgrade}
    - bootstrap/private_ip
    - bootstrap/osquery
    - bootstrap/clamav
    - user/deployer
    - addons/gis
    - db/postgres-{postgres}
    - db/postgres-{postgres}/addons/aggs_for_vecs:
        if: 'sun.aggs_for_vecs'
    - db/postgres-{postgres}/addons/pg_repack:
        if: 'sun.pg_repack'
    - nginx/passenger
    - nginx/htpasswd
    - ssl/ca:
        if: 'sun.server_ssl'
    - ssl/self_signed:
        if: 'sun.server_ssl'
    - ssl/dhparam:
        if: 'sun.server_ssl'
    - db/postgres-{postgres}/addons/postgis-{postgis}:
        if: 'sun.postgis'
    - db/postgres-{postgres}/tune
    - db/postgres-{postgres}/config
    - utils/packages
    - utils/htop
    - utils/mailpit:
        if: 'sun.env.virtual?'
    - lang/yarn-{yarn_version}
    - lang/ruby-{ruby_version}
deploy:
  role_before:
    - deploy/rbenv
    - deploy/rails_env
  recipes:
    - deploy/authorized_keys-system:
        before: deploy/start
    - deploy/logrotate-system:
        before: deploy/update
    - deploy/secrets-system:
        before: deploy/update
    - deploy/private_dns-system:
        before: deploy/update
    - deploy/nginx/config-system:
        before: deploy/update
    - deploy/database-system:
        before: deploy/update
        if: '%w(127.0.0.1 localhost).include? sun.db_host'
    - deploy/bundler:
        after: deploy/update
    - deploy/assets:
        after: deploy/bundler
        if: 'sun.passenger'
    - deploy/migrate:
        before: deploy/updated
    - deploy/nginx/reload-system:
        after: deploy/publish
    - deploy/passenger:
        before: deploy/published
        if: 'sun.passenger'
    - deploy/osquery-system:
        after: deploy/finished
  linked_dirs:
    - log
    - node_modules
    - public/packs
    - tmp/files
    - tmp/cache
    - tmp/pids
    - tmp/shakapacker
  linked_files:
    - config/secrets.yml
    - public/503.html
  git_shallow_clone: true
  nginx_redirects: {}
  public_dirs:
    - css
    - js
  public_files:
    - robots.txt
  osquery_logger_level: 1
  osquery_database_path: /var/osquery/osquery.db
  osquery_day: 86400
  osquery_hour: 3600
  osquery_minute: 60
  osquery_2_hrs: 7200
  osquery_10_min: 600
  osquery_10_sec: 10

deploy_development:
  osquery_logger_level: 0
  osquery_database_path: ./tmp/osquery/osquery.db
  #  osquery_day: 10
  #  osquery_hour: 10
  #  osquery_minute: 10
  #  osquery_2_hrs: 10
  #  osquery_10_min: 10
  #  osquery_10_sec: 10

computer:
  ruby_version: 3.4.7
  recipes:
    - bootstrap/files
    - bootstrap/packages
    - db/postgres_client
    - addons/rice
    - addons/gis
    - computer/grub
    - computer/backports
    - computer/xtradeb
    - computer/packages
    - computer/docker
    - computer/cling
    - computer/qgis
    - utils/packages
    - utils/htop
    - utils/mailpit
    - lang/yarn-{yarn_version}
    - lang/ruby-{ruby_version}
    - computer/vscodium
    # - computer/akvcam-{akvcam_upgrade}
