lock: 0.2.0
gems:
  - mix_server
  - mix_job
  - mix_file
  - mix_geo
  - ext_rails
  - ext_whenever

provision:
  recipes:
    # - app_packages
    - addons/numo_blis
    - reboot

staging:
  swap_size: 2G

production:
  swap_size: 4G
