@import "~@@/ext_bootstrap/stylesheets/mixins";

@mixin overlay($opacity: 0.5, $z_index: 10000) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: $opacity;
  z-index: $z_index;
}

@mixin soft_break {
  white-space: pre-line !important;
}
