shared:
  os_name: ubuntu
  os_version: 24.04
  branch: master

deploy:
  role_before:
    - deploy/load_defaults
    - deploy/git_wrapper
  role_ensure:
    - deploy/git_cleanup
  scripts:
    - version

virtual:
  vm_cpu: 2
  vm_ram: 1GB
  vm_disk: 10GB

computer:
  os_name: linuxmint
  os_version: 22.1
